@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

container {
  width: 80vw;
}

body {
  background-color: rgb(35, 35, 35);
  color: yellow;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-breaker {
  display: block;
}
