@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  z-index: 100;
}

body {
  margin: 0;
  background-color: rgb(35, 35, 35);
  color: yellow;
  display: flex;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 0;
}

.container {
  width: 80vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-breaker {
  display: block;
}

.navigation {
  margin-top: 30px;
}
.header__logo {
  margin-top: 75px;
}
.title {
  text-align: center;
  margin-top: 70px;
}
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 240px;
}
.start-button {
  width: 70px;
  height: 70px;
}
.character-card {
  display: flex;
}
.matches-card {
  display: flex;
}
