@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Star Jedi";
  src: url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.eot");
  src: url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.svg#Star Jedi")
      format("svg");
}

body {
  margin: 0;
  background-color: rgb(35, 35, 35);
  color: yellow;
  display: flex;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 0;
}

container {
  width: 80vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-breaker {
  display: block;
}
